.kasa-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-left: 350px;
    margin-top: 45px;
}

.logo-kasa {
    width: 180px;
    height: 60px;
    
}

.nav-bar {
    display: flex;
    gap: 57px;  
    margin-right: 350px;
    cursor: pointer;
}

.acceuil-link, .propos-link {
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
}

.acceuil-link:hover, .propos-link:hover {
    text-decoration-line: underline;
    color: #FF6060; 
}

.nav-bar .active {
    text-decoration-line: underline;
    color: #FF6060; 
}

@media screen and  (max-width: 767.98px) {

.kasa-banner {
    margin-left: 40px;
    margin-top: 20px;
}

.logo-kasa {
    width: 145px;
    height: 46px;
    
}

.nav-bar{
    gap: 15px;
    margin-right: 30px;
}

.acceuil-link, .propos-link {
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
}

}

