.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slideshow__image {
    width: 1240px;
    height: 450px;
    object-fit: cover;
    margin-top: 40px;
    border-radius: 20px;
}

.slideshow__arrow-left,
.slideshow__arrow-right,
.slideshow__index {
    position: absolute;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.slideshow__arrow-left,
.slideshow__arrow-right {
    width: 96px;
    height: 96px;
}


.slideshow__arrow-left {
    left: 19%;
    bottom: 30%;

}

.slideshow__arrow-right {
    right: 19%;
    bottom: 30%;
}

.slideshow__index {
    left: 50%;
    transform: translateX(-50%);
    bottom: 11%;
}

@media screen and  (max-width: 767.98px) {
   
    .slideshow__image {
        width: 335px;
        height: 255px;
        
    }


.slideshow__arrow-left,
.slideshow__arrow-right {
    width: 24px;
    height: 24px;
}


.slideshow__arrow-left {
    left: 10%;
    bottom: 38%;

}

.slideshow__arrow-right {
    right: 10%;
    bottom: 38%;
}

.slideshow__index {
    display: none;
}

}